# Ignore Local Debug files from Visual Studio
**/obj/**
**/.vs/**
**/bin/**

**\obj\**
**\.vs\**
**\bin\**

**\v17\.suo
**/v17/.suo

**\myArchery\.vs\myArchery\v17\.suo
myArchery/.vs/myArchery/v17/.suo
*.cache
myArchery.lib/obj/project.assets.json
myArchery.lib/obj/myArchery.lib.csproj.nuget.g.props
myArchery.lib/obj/myArchery.lib.csproj.nuget.dgspec.json
myArchery/appsettings.json
myArchery.lib/obj/Debug/net6.0/myArchery.lib.AssemblyInfo.cs
myArchery.lib/obj/project.assets.json
myArchery.lib/obj/myArchery.lib.csproj.nuget.g.props
myArchery.lib/obj/myArchery.lib.csproj.nuget.dgspec.json
myArchery.lib/obj/Debug/net6.0/myArchery.lib.GeneratedMSBuildEditorConfig.editorconfig
