# Ignore Local Debug files from Visual Studio
myarchery\bin\**
myArchery.Services\bin\**
myArchery.Services\obj\**
myArchery.lib\obj\**
myArchery.Persistance\bin\**
myArchery.Persistance\obj\**
myArchery\obj\Debug**
myarchery\obj\*
myArchery\.vs\**

**/obj/**
**/.vs/**
**/bin/**