@using Microsoft.AspNetCore.Identity
@inject SignInManager<AspNetUser> SignInManager
@inject UserManager<AspNetUser> UserManager

 
 
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
 
  <header id="header" class="fixed-top">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <div class="container d-flex align-items-center justify-content-between">
            <h1 class="logo">ARCHERY<a href="Index" class="logo"><img src="assets/img/logo/firmen_logo.jfif"
                        alt="" class="img-fluid"></a></h1>
            <nav id="navbar" class="navbar navbar-expand-lg " style="background-color:#f6f7ff">
                <ul>
                    <li><a class="nav-link scrollto active" href="#">Home</a></li>
                    <li><a class="nav-link scrollto" href="AllEvents">All Events</a></li>
                    <li><a class="nav-link scrollto" href="CreateEvent">Create Events</a></li>
                    <li><a class="nav-link scrollto" href="CurrentEvent">Current Event</a></li>
                    <li><a class="nav-link scrollto" href="LiveRanking">LiveRanking</a></li>
   
<ul class="navbar-nav">
@if (SignInManager.IsSignedIn(User))
{
    <li class="nav-item">
        <a  class="nav-link" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @User.Identity?.Name!</a>
    </li>
    <li class="nav-item">
        <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/", new { area = "" })" method="post" >
            <button  type="submit" class="nav-link btn btn-link">Logout</button>
        </form>
    </li>
}
else
{
    <li class="nav-item">
        <a class="nav-link" asp-area="Identity" asp-page="/Account/Register">Register</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" asp-area="Identity" asp-page="/Account/Login">Login</a>
    </li>
}
</ul>

                    <img src="assets/img/icons/login_icon.png"
                        style="max-width: 20px; max-height: 20px; margin-left: 5px; margin-bottom: 1px;">
                </ul>
            </nav>
        </div>
    </header>