@page
@{
    Layout = "_Layout";
}

<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Collapse Tab</title>
    
        <link rel="stylesheet" href="/assets/css/About.css">
    
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="/assets/js/About.js"></script>
    </head>
    <body>
    
    
    
    
        <div class="container">
    
            <div class="container-inner">
    
                <!-- Section Title -->
    
                <div class="section-title">
    
                    <h1>FAQ</h1>
                
                </div>
    
                <!-- Tab / Collapse Section -->
    
                <div class="tab-container">
    
                    <!-- Tab 1 -->
    
                    <div class="tab-accordian">
    
                        <div class="titleWrapper inactive">
                            <h3>How to create an Event</h3>
    
                            <div class="collapse-icon">
                                <div class="acc-close"></div>
                                <div class="acc-open"></div>
                            </div>
                        </div>
    
                        <div id="descwrapper" class="desWrapper">
                            
                            <ul>
                                <li class=""><a native="true" href="#">Click on the "All Events" tab</a></li>
                                <li class="">Click the "Create New" link</li>
                                <li class="">Select the event-specific settings you would like to apply to your parkour</li>
                                <li class="">Click the Create Event button</li>
                            </ul>
                            <p>If you have done everything correctly, a code will now be generated with which the participants can join the event. <a native="true" href="/use-cases/">Tip: Only share this information with people you want to have at your event</a></p>
    
                        </div>
    
                    </div>
    
                    <!-- Tab 2 -->
    
                    <div class="tab-accordian">
    
                        <div class="titleWrapper  inactive">
                            <h3>How can I see all Events?</h3>
    
                            <div class="collapse-icon">
                                <div class="acc-close"></div>
                                <div class="acc-open"></div>
                            </div>
                        </div>
    
                        <div id="descwrapper" class="desWrapper">
                            <ul>
                                <li class=""><a native="true" href="#">Click on the "All Events" tab.</a></li>
                                <li class="">All events will now be displayed to you, including their details</li>
                                <li class="">If you press the Join button you can join the event</li>
                                <li class="">If you press the Details button you can call up the details of the event</li>
                            </ul>
           
                        </div>
    
                    </div>
    
                    <!-- Tab 3 -->
    
                    <div class="tab-accordian">
    
                        <div class="titleWrapper inactive">
                            <h3>How can I play an Event</h3>
    
                            <div class="collapse-icon">
                                <div class="acc-close"></div>
                                <div class="acc-open"></div>
                            </div>
                        </div>
    
                        <div id="descwrapper" class="desWrapper">
                           <ul>
                                <li class=""><a native="true" href="#">Click on the "My Events" tab.</a></li>
                                <li class="">Now you will see all the events that you have joined</li>
                                <li class="">If you press the <a native="true" href="#">Play</a> button you can start playing</li>
                            </ul>
          
                        </div>
    
                    </div>
    
                    <!-- Tab 4 -->
    
                    <div class="tab-accordian">
    
                        <div class="titleWrapper inactive">
                            <h3>How can I chat?</h3>
    
                            <div class="collapse-icon">
                                <div class="acc-close"></div>
                                <div class="acc-open"></div>
                            </div>
                        </div>
    
                        <div id="descwrapper" class="desWrapper">
                            <p>It is only possible to communicate within an event</p>
                            <ul>
                                <li class="">At the <a native="true" href="#">bottom right</a> of the screen you will see a button.</li>
                                <li class="">If you press this button, a chat box will open where you can communicate with other players</li>
                           </ul>
                    
                        </div>
    
                    </div>

                                        <!-- Tab 5 -->
    
                    <div class="tab-accordian">
    
                        <div class="titleWrapper inactive">
                            <h3>How can I login?</h3>
    
                            <div class="collapse-icon">
                                <div class="acc-close"></div>
                                <div class="acc-open"></div>
                            </div>
                        </div>
    
                        <div id="descwrapper" class="desWrapper">
                            <p>You can only use the main functions of this website if you have a user</p>
                            <ul>
                                <li class="">For this you have to register first</li>                                
                                <li class=""><a native="true" href="#">Click the "Register" tab</a></li>
                                <li class="">Choose your dates and then click the Register button</li>
                                <p>Now you can log in</p>
                                <li class="">Click the Login tab</li>                                
                                <li class="">Enter username and password</li>
                                <li class="">Press the log in button.</li>
                                <p>You are now logged in</p>
                                <p>If you have forgotten your password, you can reset it using the Forgot my password link (you will receive an email)</p>

   


   
                                
                           </ul>
                    
                        </div>
    
                    </div>
    
                </div>
    
    
            </div>
    
        </div>
        
    </body>
    </html>
