@page
@{
    Layout = "_Layout";
}

<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Collapse Tab</title>
    
        <link rel="stylesheet" href="../wwwroot/assets/css/About.css">
    
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="/assets/js/About.js"></script>
    </head>
    <body>
    
    
    
    
        <div class="container">
    
            <div class="container-inner">
    
                <!-- Section Title -->
    
                <div class="section-title">
    
                    <h1>Fraud prevention at your business</h1>
                
                </div>
    
                <!-- Tab / Collapse Section -->
    
                <div class="tab-container">
    
                    <!-- Tab 1 -->
    
                    <div class="tab-accordian">
    
                        <div class="titleWrapper inactive">
                            <h3>Do I need a fraud prevention system?</h3>
    
                            <div class="collapse-icon">
                                <div class="acc-close"></div>
                                <div class="acc-open"></div>
                            </div>
                        </div>
    
                        <div id="descwrapper" class="desWrapper">
                            <p>Fraud prevention can be the bane of some businesses, but also invisible to others. High chargeback rates are a clear indicator of fraudulent attacks, but some can go undetected until you implement a system.</p>
                            <ul>
                                <li class=""><a native="true" href="#">If you are in a high risk industry</a>, it is likely you are suffering attacks without noticing them.</li>
                                <li class="">If user authentication is a part of your business, it is highly recommended to implement a fraud prevention to stop account takeovers and identity theft.</li>
                                <li class="">Regulatory bodies are increasingly stringent about fraud prevention measures. To avoid hefty fines, it’s important to show you have put the best security in place.</li>
                            </ul>
                            <p>Finally, many organisations think they are too small to be targets of fraud. As we’ve discovered, companies of all sizes can be attacked,<a native="true" href="/use-cases/">and in an increasing number of verticals.</a></p>
    
                        </div>
    
                    </div>
    
                    <!-- Tab 2 -->
    
                    <div class="tab-accordian">
    
                        <div class="titleWrapper  inactive">
                            <h3>Do I need a fraud prevention system?</h3>
    
                            <div class="collapse-icon">
                                <div class="acc-close"></div>
                                <div class="acc-open"></div>
                            </div>
                        </div>
    
                        <div id="descwrapper" class="desWrapper">
                            <p>Fraud prevention can be the bane of some businesses, but also invisible to others. High chargeback rates are a clear indicator of fraudulent attacks, but some can go undetected until you implement a system.</p>
                            <ul>
                                <li class=""><a native="true" href="#">If you are in a high risk industry</a>, it is likely you are suffering attacks without noticing them.</li>
                                <li class="">If user authentication is a part of your business, it is highly recommended to implement a fraud prevention to stop account takeovers and identity theft.</li>
                                <li class="">Regulatory bodies are increasingly stringent about fraud prevention measures. To avoid hefty fines, it’s important to show you have put the best security in place.</li>
                            </ul>
                            <p>Finally, many organisations think they are too small to be targets of fraud. As we’ve discovered, companies of all sizes can be attacked,<a native="true" href="/use-cases/">and in an increasing number of verticals.</a></p>
    
                        </div>
    
                    </div>
    
                    <!-- Tab 3 -->
    
                    <div class="tab-accordian">
    
                        <div class="titleWrapper inactive">
                            <h3>Do I need a fraud prevention system?</h3>
    
                            <div class="collapse-icon">
                                <div class="acc-close"></div>
                                <div class="acc-open"></div>
                            </div>
                        </div>
    
                        <div id="descwrapper" class="desWrapper">
                            <p>Fraud prevention can be the bane of some businesses, but also invisible to others. High chargeback rates are a clear indicator of fraudulent attacks, but some can go undetected until you implement a system.</p>
                            <ul>
                                <li class=""><a native="true" href="#">If you are in a high risk industry</a>, it is likely you are suffering attacks without noticing them.</li>
                                <li class="">If user authentication is a part of your business, it is highly recommended to implement a fraud prevention to stop account takeovers and identity theft.</li>
                                <li class="">Regulatory bodies are increasingly stringent about fraud prevention measures. To avoid hefty fines, it’s important to show you have put the best security in place.</li>
                            </ul>
                            <p>Finally, many organisations think they are too small to be targets of fraud. As we’ve discovered, companies of all sizes can be attacked,<a native="true" href="/use-cases/">and in an increasing number of verticals.</a></p>
    
                        </div>
    
                    </div>
    
                    <!-- Tab 4 -->
    
                    <div class="tab-accordian">
    
                        <div class="titleWrapper inactive">
                            <h3>Do I need a fraud prevention system?</h3>
    
                            <div class="collapse-icon">
                                <div class="acc-close"></div>
                                <div class="acc-open"></div>
                            </div>
                        </div>
    
                        <div id="descwrapper" class="desWrapper">
                            <p>Fraud prevention can be the bane of some businesses, but also invisible to others. High chargeback rates are a clear indicator of fraudulent attacks, but some can go undetected until you implement a system.</p>
                            <ul>
                                <li class=""><a native="true" href="#">If you are in a high risk industry</a>, it is likely you are suffering attacks without noticing them.</li>
                                <li class="">If user authentication is a part of your business, it is highly recommended to implement a fraud prevention to stop account takeovers and identity theft.</li>
                                <li class="">Regulatory bodies are increasingly stringent about fraud prevention measures. To avoid hefty fines, it’s important to show you have put the best security in place.</li>
                            </ul>
                            <p>Finally, many organisations think they are too small to be targets of fraud. As we’ve discovered, companies of all sizes can be attacked,<a native="true" href="/use-cases/">and in an increasing number of verticals.</a></p>
    
                        </div>
    
                    </div>
    
                </div>
    
    
            </div>
    
        </div>
        
    </body>
    </html>
