@page
@using myArchery.Services
@{
    string eventName = @EventService.GetUsersCurrentEventsByUsername(User.Identity.Name)[0].Eventname;
    ViewData["Event"] = "Event 1";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,300;0,400;0,600;1,300&display=swap" rel="stylesheet">

    


    <title>Chatbox</title>
</head>
<partial name="_Chat">
<body>
</body>
</html>