@page
@model myArchery.Pages.Event.IndexModel
@{
	ViewData["Title"] = "Events";

}

<h1>@ViewData["Title"]</h1>

<div>
	Yes :)
	Username is: @ViewData["username"]
	<asp:button onclick="btn_testClick">Click me :)</asp:button>
</div>
