@page
@using myArchery.Services;

@inject UserManager<AspNetUser> UserManager;

@model myArchery.Pages.IndexModel
@{
    ViewData["Title"] = "Startseite - myArchery";

}
<!DOCTYPE html>
<!-- Created By CodingLab - www.codinglabweb.com -->
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
   <!--------- <title>Responsive Navigation Menu</title>------>
    <link rel="stylesheet" href="assets/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>
    <partial name="_HeaderPartial" />
    <div class="content">
      <h1>Archery</h1>
      <div style="font-size: 14px;">Our Software to bring your archery club to a new level.</div>
      <!-- <div>using only HTML & CSS</div> -->
    </div>

  </body>
</html>

