@page
@model  myArchery.Pages.ResetPasswordModel
{

}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Passord Reset</title>
    <link rel="stylesheet" href="assets/css/resetPassword.css">
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <script src="assets/js/eastereggs.js"></script>
</head>


<body>
    <div class="hero">
        <div class="form-box">
            <div class="button-box">
                <h1 style="padding-top: 20px; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif">Passwort Reset</h1>
            </div>
            <!-- <div class="social-icons">
                <img src="../src/assets/img/icons/facebook_img.png" alt="fb">
                <img src="../src/assets/img/icons/twitter_img.png" alt="tw">
                <img src="../src/assets/img/icons/google_img.png" alt="gp">
            </div> -->


            <form id="login" class="input-group" method="post">
                <input type="text" name="email" class="input-field" placeholder="Enter email for Reset" required>

                <br>
                <div style="color: black" class="g-signin2" data-onsuccess="oauthlogin"></div>
                <br>
                <br>

                <button type="submit" class="submit-btn">Reset</button>
            </form>

        </div>
    </div>
    <script src="assets/js/archery.js"></script>
</body>

</html>