body{
	margin: 0 auto;
  	background-color: rgba(216, 215, 215, 0.7);
	background-repeat: no-repeat;
	background-size: 100% 720px;
}

input[type="text"],input[type="password"]{
  	margin-top: -20px;
  	margin-bottom: 0px;
	height: 45px;
	width: 300px;
  	border: solid black 2px;
	font-size: 18px;
	background-color: #fff;
	padding-left: 4px;
}

.email-paragraph {
 	text-align: left;
  	padding-left: 95px;
  	color: #fff;
  	font-size: 20px;
}

.container{
	width: 500px;
	height: 500px;
	text-align: center;
	margin: 0 auto;
	background-color: rgba(119, 119, 119, 0.7);
	margin-top: 160px;
}

.container img{
	width: 200px;
	height: 200px;
	margin-top: -100px;
  	margin-bottom: -10px;
}

.reset-text {
    margin-top: 30px;
    text-align: middle;
    color: #fff;
    font-size: 20px;
	padding-left: 40px;
	padding-right: 40px;
}

.btn-reset{
  	margin-top: 20px;
	padding: 15px 25px;
	border: solid black 2px;
	background-color: #27ae60;
	color: #fff;
  	font-size: 18px;
}

.login-paragraph {
	text-align: left;
	padding-left: 10px;
	color: #fff;
	font-size: 20px;
}