@using myArchery.Services
@using myArchery.Services.TmpClasses
@model CreateEventTemplate;
<script src="~/assets/lib/jquery/dist/jquery.min.js"></script>
@{
    ViewData["Title"] = "Create";
    Layout = "_Layout";

    List<SelectListItem> GetParcoursAsListItem(){
        var par = ParcourService.GetAllParcours().ConvertAll(a =>
            {
                return new SelectListItem()
                {
                    Text = a.Parcourname.ToString(),
                    Value = a.Parcourname.ToString(),
                    Selected = false
                };
            });

            return par;
    }
}

<h1>Create</h1>

<h4>Event</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        @using (Html.BeginForm())
        {
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Eventname" class="control-label">Eventname:</label>
                <input asp-for="Eventname" class="form-control" required/>
                <span asp-validation-for="Eventname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Arrowamount" class="control-label">Arrowamount</label>
                <input id="arrowAmount" min="1" asp-for="Arrowamount" class="form-control" type="number"/>
                <span asp-validation-for="Arrowamount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Startdate" class="control-label">StartDate:</label>
                <input asp-for="Startdate" class="form-control" />
                <span asp-validation-for="Startdate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Enddate" class="control-label">EndDate:</label>
                <input asp-for="Enddate" class="form-control" />
                <span asp-validation-for="Enddate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label">Password:</label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ParId" class="control-label"></label>
                <select asp-for="ParId" class ="form-control" asp-items="GetParcoursAsListItem()">
                </select>
            </div>
            <div class="form-group" id="item-list">
                @Html.EditorFor(f => f.Points)
            </div>
            <div id="arrowPoint">
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        }
    </div>
</div>

<div>
    <a asp-action="Index">Back to Index</a>
</div>

@section Scripts {
    

    <script>
        let prev_val;
        var arrowCount = document.getElementById("arrowAmount");
        console.log(arrowCount);
            $(document).ready(function(){
                //$("#arrowAmount").change(function(){
                //    UpdateArrowInputs();
                //    });
                    UpdateArrowInputs();

                    $("#arrowAmount").change(function (e) {
                    e.preventDefault();
                    UpdateArrowInputs();
                   });
            });
        function UpdateArrowInputs(){
                var i = $("#arrowAmount").val();
               //var p = '<label for="Points['+i+'].Value">Test</label>';
               //$("#item-list").append(p);
               //var n = '<input type="number" id="Centerkill'+i+'" class="items" name="Points[' + i + '].CenterkillValue" />';
               //$("#item-list").append(n);

               $("#item-list").children().remove();

               for(var x = 0; x < i; x++){
                   var count = x+1;
                   //var html = '<label for="Centerkill'+count+'">Centerkill:</label> '+
                   //             '<input type="number" id="Centerkill'+count+'" class="items" name="Points[' + x + '].CenterkillValue" /><br>';

                   var html = '<div>'+
                                '<h3>Pfeil '+count+'</h3>'+
                                '<label for="CenterkillValue">Centerkill:</label>'+
                                '<input type="number" min="0" name="Points['+x+'].CenterkillValue" class="items"/>'+
                                '</div>'+
                                '<div>'+
                                    '<label for="KillValue">Kill:</label>'+
                                    '<input type="number" min="0" name="Points['+x+'].KillValue" class="items"/>'+
                                '</div>'+
                                '<div>'+
                                    '<label for="BodyValue">Body:</label>'+
                                    '<input type="number" min="0" name="Points['+x+'].BodyValue" class="items"/>'+
                                '</div>';
                   $("#item-list").append(html);
            }
        }
    </script>
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}