html, body {
    overflow-x: hidden;
    overflow-y: hidden;
    height: 100%;
    width: 100%;
    position: absolute;
    background-color: red;
    background-repeat: repeat-x;
    background-position: top;
    z-index: -2;
    color: white;
}

.wrapper {
    background-color: red;
}

span {
    border-radius: 100px;
    opacity: 0.75;
    filter: alpha(opacity=75); /* For IE8 and earlier */
}

#content {
    height: 55em;
}

p {
    max-width: 30em;
    color: white;
    font-family: 'ccmonstermashworn',serif;
    letter-spacing: 0.1em;
    text-align: center;
    font-weight: 900;
    margin: 40px auto;
    text-transform: uppercase;
    line-height: 145%;
    font-size: 5em;
    font-variant: small-caps;
}

.container {
    padding-top: 6em;
    text-align: center;
}

#b-nav {
    padding-bottom: 5em;
    position: fixed;
    width: 100%;
    bottom: 2em;
}

    #b-nav ul {
        padding: 0.5em;
        list-style-type: none;
        text-align: center;
    }

        #b-nav ul li {
            display: inline;
        }

            #b-nav ul li a {
                text-decoration: none;
                padding: .2em 1em;
                background-color: black;
                opacity: 0.4;
                filter: alpha(opacity=40); /* For IE8 and earlier */
            }

#gen {
    outline: none;
    padding-top: 5px;
    text-decoration: none;
    opacity: 0.6;
    background-color: black;
    color: white;
    border: thin solid white;
    height: 40px;
    width: 50%;
    border-radius: 2px;
    transition: 0.5s;
    padding-bottom: 5px;
}

    #gen:hover {
        background-color: white;
        color: black;
        border: thin solid black;
        opacity: 0.8;
    }

.inputs { 
    margin: 10px;
    margin-left: 50px;
}
