@using myArchery.Services.TmpClasses
@model CreateEventPointsTemplate

<div>
    <label asp-for="CenterkillValue">Centerkill:</label>
    <input type="number" asp-for="CenterkillValue" class="items"/>
</div>
<div>
    <label asp-for="KillValue">Kill:</label>
    <input type="number" asp-for="KillValue" class="items"/>
</div>
<div>
    <label asp-for="BodyValue">Body:</label>
    <input type="number" asp-for="BodyValue" class="items"/>
</div>